<p id="notice"><%= notice %></p>

<h1>Listing Vehiculos</h1>

<table>
  <thead>
    <tr>
      <th>Placa</th>
      <th>Clase</th>
      <th>Subtipo</th>
      <th>Edad</th>
      <th>Numero pasajero</th>
      <th>Cilindraje</th>
      <th>Toneladas</th>
      <th>Propietario</th>
      <th>Poliza</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehiculos.each do |vehiculo| %>
      <tr>
        <td><%= vehiculo.placa %></td>
        <td><%= vehiculo.clase %></td>
        <td><%= vehiculo.subtipo %></td>
        <td><%= vehiculo.edad %></td>
        <td><%= vehiculo.numero_pasajero %></td>
        <td><%= vehiculo.cilindraje %></td>
        <td><%= vehiculo.toneladas %></td>
        <td><%= vehiculo.propietario %></td>
        <td><%= vehiculo.poliza %></td>
        <td><%= link_to 'Show', vehiculo %></td>
        <td><%= link_to 'Edit', edit_vehiculo_path(vehiculo) %></td>
        <td><%= link_to 'Destroy', vehiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehiculo', new_vehiculo_path %>
