<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10% !important;">
    <h4>Coches Registrados</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr class="table-primary">
            <th>Placa</th>
            <th>Clase</th>
            <th>Subtipo</th>
            <th>Edad</th>
            <th>Pasajeros</th>
            <th>Cilindraje</th>
            <th>Toneladas</th>
            <th>Propietario</th>
            <th>Poliza</th>
            <th>Users</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @coches.each do |coche| %>
            <tr>
              <td><%= coche.placa %></td>
              <td><%= coche.clase %></td>
              <td><%= coche.subtipo %></td>
              <td><%= coche.edad %></td>
              <td><%= coche.numero_pasajero %></td>
              <td><%= coche.cilindraje %></td>
              <td><%= coche.toneladas %></td>
              <td><%= coche.propietario %></td>
              <td><%= coche.poliza %></td>
              <td><%= coche.user %></td>
              <td><%= link_to 'Consultar', coche, class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Editar', edit_coch_path(coche), class: "btn btn-warning btn-sm" %></td>
              <td><%= link_to 'Eliminar', coche, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    <%= link_to 'Registrar Vehiculo', new_coch_path, class: "btn btn-primary" %>
  </div>
</div>
