<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2% !important;">
    <h4>Polizas Vendidas</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr class="table-primary">
            <th>Placa</th>
            <th>Clase</th>
            <th>Fecha Vigencia</th>
            <th>Propietario</th>
            <th>Valor Prima</th>
            <th>Contribución</th>
            <th>runt</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th colspan="2"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @coches.each do |coche| %>
            <tr>
              <td><%= coche.placa %></td>
              <td><%= coche.descripcion %></td>
              <td class="col"><%= coche.created_at.strftime("%d-%m-%Y") %></td>
              <td><%= coche.propietario %></td>
              <td><%= coche.value_prima %></td>
              <td><%= coche.contribucion %></td>
              <td><%= coche.runt %></td>
              <td><%= coche.subtotal %></td>
              <td><%= coche.total %></td>
              <td><%= link_to 'Consultar', coche, class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Eliminar', coche, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    <%#= link_to 'Registrar Vehiculo', new_coch_path, class: "btn btn-primary" %>
  </div>
</div>
