<!DOCTYPE html>
<html>
<head>
  <title>Soat-App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-success">
  <a class="navbar-brand mb-0 h1" href="#">
     SOAT
  </a>
  <div class="my-2 my-lg-0">
    <% if user_signed_in? %>
     <%= link_to "Inicio", authenticated_root_path, class: "navbar-brand"  %>
     <%= link_to "Polizas", rates_path, class: "navbar-brand"  %>
     <%= link_to "Vehiculos", coches_path, class: "navbar-brand"  %>
     <%= link_to 'Mi perfil', edit_user_registration_path, class: "navbar-brand" %>
     <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: "navbar-brand" %>
    <% end %> 
  </div>
</nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <%= yield %>

</body>
</html>
